$color-neutral: #6d6e71;
$color-text: #1f2041;
$color-primary: #3074b3;
$color-background: white;
$color-neutral-200: #dedede;
$color-neutral-250: #cbcbcb;
$color-primary-dark: #0f1f52;
$color-success: #2a7e29;
$color-success-light: #ecfdf3;
